
.divided {
    position: relative;
    background: white;
}
.divided::after {
    background: linear-gradient(#f0f7fd 0, #813FD9 50%, #f0f7fd 100%);
    width: 1px;
    top: 100px;
    bottom: 100px;
    left: 50%;
    height: auto;
    right: auto;
    position: absolute;
}

.textcontainer {
	overflow: hidden;
}

.clusteranimate {
	font-size: 4rem;
	transform: translateY(-7rem);
	animation: up 1.2s 300ms forwards;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.4rem;
	visibility: hidden;
}

.appanimate {
	font-size: 4rem;
	transform: translateY(-7rem);
	animation: up 1.2s 1.3s forwards;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.4rem;
	visibility: hidden;
}

.paramanimate {
	font-size: 4rem;
	transform: translateY(-7rem);
	animation: up 1.2s 2.53s forwards;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.4rem;
	visibility: hidden;
}

.resultsection {
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
}

.resultanimate {
	font-size: 4rem;
	transform: translateY(-7rem);
	animation: resultdown 1.2s 3.76s forwards;
	position: relative;
	overflow: hidden;
	padding-bottom: 0.4rem;
	visibility: hidden;
}

.buttonsection {
    margin: 0px;
    text-align: center;
	display: flex;
	justify-content: center;
}

@keyframes resultdown {
	
	100% {
		transform: translateY(-50%);
		opacity: 1;
		visibility: visible;
	}

	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
}

@keyframes up {
	
	100% {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}

	0% {
		opacity: 0;
	}
}