.border-box {
    height: 70vh;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#ffffff;
    box-shadow: 0 0 50px rgba(143, 143, 145, 0.75);
}
#contents-box {
    padding-top: 5%;
}
.mb-60 {
    margin-top: 50px;
    margin-bottom: 60px;
}
.link-text:hover {
    text-decoration: none;
}
.services-inner {
    border: 2px solid rgb(73, 76, 117);
    height: 150px;
    transition: .3s;
}
.our-services-img {
    float: left;
    margin-left: -36px;
    margin-right: 22px;
    margin-top: 28px;
}
.our-services-text {
    text-align: center;
    margin: 0 10px;
    padding-right: 10px;
}
.our-services-text {
    overflow: hidden;
    padding: 28px 0 25px;
}
.our-services-text h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.our-services-text h4::first-line {
    background: #fa8b69 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    width: 40px;
}
.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
}
.our-services-text p {
    margin-bottom: 0;
}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #666;
    margin-bottom: 15px;
}

.buttonsection {
    display: flex;
    flex-wrap: wrap;
}

#title-animation {
    animation: titleanimate 600ms ease-in;
}

#button-animation {
    animation: buttonanimate 600ms ease-in;
}

@keyframes titleanimate {
    from {
        opacity: 0;
        transform: translateY(-35px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes buttonanimate {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}