
a:link { color: none; text-decoration: none;}
a:visited { color: none; text-decoration: none;}
a:hover { color: none; text-decoration: none;}

.introcontainer {
    width: 100%;
    height: 100%;
    text-align: center;
}

.introsubsection {
    border-bottom: rgb(47, 47, 122) solid 0.15rem;
}

.introsubsection-click {
    transition: 200ms;
    border-bottom: rgb(47, 47, 122) solid 0.35rem;
}

.introsubtitle {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(47, 47, 122);
}

.introsubtitle-click {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(47, 47, 122);
    transition-duration: 200ms;
    transform: scale(1.15);
}
