
a:link { color: none; text-decoration: none;}
a:visited { color: none; text-decoration: none;}
a:hover { color: none; text-decoration: none;}

strong {
    font-weight: 750;
}

.association {
    font-style: italic;
}

.introcontainer {
    width: 100%;
    height: 100%;
    text-align: center;
}

.introsubsection {
    border-bottom: rgb(47, 47, 122) solid 0.15rem;
}

.introsubsection-click {
    transition: 200ms;
    border-bottom: rgb(47, 47, 122) solid 0.35rem;
}

.introsubtitle {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(47, 47, 122);
    border: none;
    background-color: white;
    margin-bottom: 3%;
}

.introsubtitle-click {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(47, 47, 122);
    transition-duration: 200ms;
    transform: scale(1.15);
}

.maintitle {
    font-size: 1.4rem;
    font-weight: 600;
    animation: maintitleani 600ms ease-in;
}

.summarycontents {
    margin: 10px 21px 60px 21px ;
    visibility: hidden;
    animation: summaryani 600ms 300ms ease-in forwards;
}

.rowcontents {
    visibility: hidden;
    animation: rowani 600ms 600ms ease-in forwards;
}

@keyframes maintitleani {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes summaryani {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
        visibility: visible;
    }
}

@keyframes rowani {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
        visibility: visible;
    }
}