/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* ========== Top Navigation ========== */

.navbar-nav {
    position: absolute;
    right: 80px;
}

.select-nav {
    color:  #c7d40a !important;
}

.top-nav {
    background-color: rgb(72, 74, 100);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 80px;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}
.top-nav .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    padding:29px 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}

.top-nav li a.nav-link:hover{
    color:  #c7d40a;
}
.top-nav .navbar-brand{
	font-size: 28px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.top-nav.light-header{
	height: 60px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.23);
	transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}
.top-nav.light-header .navbar-brand{
	color: #212121;
}
.top-nav.light-header .navbar-nav {
    color: #212121;
    padding: 19px 15px;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}

.nav-link {
    margin-top: 1vh;
}

a.nav-link::after {
    margin: 1vh auto 0 auto;
    content: '';
    height: 2px;
    width:0;
    display: block;
    background: #c7d40a;
    transition: width 0.5s;
}

a.nav-link:hover::after {
    width: 100%;
}

.navbar-brand {
    position: absolute;
    left: 70px;
    animation: brandanim 8s ease-in-out 1s infinite forwards;
}

#dot-motion {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #c7d40a;
    animation: dotanim 8s ease-in-out 1s infinite forwards;
    transform: translate(30px, -110px);
}

@keyframes brandanim {
    0% {
        color: white;
    }
    10% {
        color: white;
    }
    35% {
        color: #c7d40a;
    }
    45% {
        color: #c7d40a;
    }
    70% {
        color: white;
    }
}

@keyframes dotanim {
    0% {
        transform: translate(30px, -80px);
    }
    10% {
        transform: translate(30px, 23px);
    }
    35% {
        transform: translate(360px, 23px);
    }
    45% {
        transform: translate(360px, -20px);
    }
    70% {
        transform: translate(-100px, -20px);
    }
}

@media (max-width: 767px){
    .top-nav .navbar-toggler i {
    color: #fff;
    margin-top: 6px;
    }
    .top-nav.light-header .navbar-toggler i {
    color: #00BED7;
    }
    .top-nav  .navbar-collapse.show {
    background-color: #fff;
    text-align: center;
    padding: 12px 0;
    }
    .top-nav .navbar-collapse.show a{
    color: #000;
    }
}
.btn-theme{background-color:#35CBDF; color:#fff;}