
.infosection {
    margin: 30px 0px;
}

#clustertext {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(90, 90, 114);
    text-align: right;
}

#apptext {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(90, 90, 114);
    text-align: right;
}

.tablesection {
    overflow-x: scroll !important;
}

.rankingtable {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    border-top: 2px solid #ccc;
    margin : 30px auto;
}

.rankingtable th {
    width: 150px;
    padding: 10px 25px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.rankingtable td {
    width: 150px;
    padding: 10px 25px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.rowanimation {
    animation-duration: 400ms;
    animation-name: rowani;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.buttonsection {
    margin: 20px;
    text-align: center;
}

@keyframes rowani {
    0% {
        transform: translateY(-2rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
}