  .clustercontainer {
      width: 100%;
  }

  .clustercontainer ul{
    border:5px solid #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  .noline {
    border: white 0px;
  }

  .paramcontainer {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }

  .paramitem {
    margin : 20px;
    text-align: center;
    border-bottom: black ;
  }

  .paramtextbox {
    border-radius: 7px;
    width: 50%;
  }
  
  .subcontainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 30%;
    height: 300px;
  }

  .selectcontents{
    margin: 50px 0 0 30px;
  }

  .subtitle {
    text-align: center;
    margin: 50px 0 0 0;
  }

  .onebuttonsection {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
  }

  .twobuttonsection {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
  }

  .buttonstyle {
    margin : 20px;
  }

  .threebuttonstyle {
    margin : 10px;
  }

  .staticinputstyle {
    border: 0px none;
    background-color: white;
    color: red;
    font-weight: bolder;
    width: 400px
  }

  .listStyle{
    display: inline-block;
    padding: 10px 0px;
    width: 100%;
    background-color: #e0e1ec;
    margin-bottom: 10px;
    color:rgb(0, 0, 0);
    border-radius: 10px;
  }

  .ulStyle{
    height: 300px;
    overflow: auto;
  }
  
  .listStyle input[type=radio]{
    position: absolute;
    visibility: hidden;
    height: 100px;
  }
  
  .listStyle label{
    display: block;
    text-align: center;
    position: relative;
    font-weight: 400;
    font-size: 1.35em;
    margin: 5px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  
  .ulStyle li:hover label{
      color: #ffffff;
      text-decoration: solid;
  }

  .listStyle:hover {
    background-color: rgb(72, 74, 100);
  }
  
  .listStyle input[type=radio]:checked ~ label{
    color: rgb(255, 0, 0);
    font-weight: bolder;
  }
  