  .clustercontainer {
      width: 100%;
  }

  .clustercontainer ul{
    border:5px solid #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  .noline {
    border: white 0px;
  }

  .paramcontainer {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .paramitem {
    margin : 20px;
    text-align: center;
    border-bottom: black ;
  }

  .paramtextbox {
    border-radius: 7px;
  }
  
  .subcontainer {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .selectcontents{
    margin: 50px 0 0 30px;
  }

  .subtitle {
    text-align: center;
    margin: 50px 0 0 0;
  }

  .onebuttonsection {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
  }

  .twobuttonsection {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
  }

  .buttonstyle {
    margin : 20px;
  }

  .threebuttonstyle {
    margin : 10px;
  }

  .staticinputstyle {
    border: 0px none;
    background-color: white;
    color: red;
    font-weight: bolder;
  }

  .listStyle{
    color: rgb(0, 0, 0);
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: auto;
      border-bottom: 1px solid rgb(0, 0, 0);
  }
  
  .listStyle input[type=radio]{
    position: absolute;
    visibility: hidden;
  }
  
  .listStyle label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 15px 25px 10px 90px;
    margin: 5px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  
  .listStyle li:hover label{
      color: #d61212;
      text-decoration: solid;
  }
  
  .listStyle .check{
    display: block;
    position: absolute;
    border: 5px solid rgb(2, 2, 2);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
      z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
  }
  
  .listStyle li:hover .check {
    border: 3px solid #d61212;
  }
  
  .listStyle .check::before {
    display: block;
    position: absolute;
      content: '';
    border-radius: 50%;
    height: 15px;
    width: 15px;
    top: 2px;
      left: 2px;
    margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
  }
  
  .listStyle input[type=radio]:checked ~ .check {
    border: 3px solid #000;
  }
  
  .listStyle input[type=radio]:checked ~ .check::before{
    background: #000;
  }
  
  .listStyle input[type=radio]:checked ~ label{
    color: #000;
  }
  